body{
 background-image: url("http://wallpoper.com/images/00/43/98/00/nikon-lense-cap_00439800.jpg");
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: 100%;
  

}