 body{ 
 	background-image: url( "https://static.wixstatic.com/media/2cd43b_9e40d284910240479b94e37f071f702a~mv2.png/v1/fill/w_196,h_177,al_c,usm_0.66_1.00_0.01/2cd43b_9e40d284910240479b94e37f071f702a~mv2.png"); 
 background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: 20%;
   }